# Test file
test.js

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# eslint cache
.eslintcache

# eslint config
.eslintrc.json

# dotenv environment variables file
.env